.profile {
    /*intendention and sizing*/
    max-width: var(--maxWidth);
    margin: 35px auto 45px;
    
    /*page-proofs*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 910px) {
    .profile {
        margin: 35px 20px 45px;
    }
    
}

@media screen and (max-width: 780px) {
    .profile {
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }
}