.elements__card { 
    /*style*/
    background-color: white;
    border-radius: 10px;

    /*page-proofs*/
    overflow: hidden;
    object-fit: contain;

    /*indentention and sizig*/
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
}