.pop-up {
    /*page-proofs*/
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;

    /*style*/
    background-color:  rgba(0, 0, 0, .7);

    /*intendention and sizing*/
    width: 100%;
    height: 100%;
    
}

