.profile__account__avatar {
    /*intendention and sizing*/
    max-width: 120px;
    max-height: 120px;
    margin: 0 31px 0 0;

    /*style*/
    border-radius: 50%;
}

@media screen and (max-width: 780px) {
    .profile__account__avatar {
        /*intendention and sizing*/
        margin: 0 auto 22px;
    }
}