.input__text {
    /*style*/
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    

    /*intendention and sizing*/
    width: 358px;
    margin: 0 auto 30px;
    padding-bottom: 13px;
}

@media screen and (max-width: 430px) {
    .input__text {
        /*intendention and sizing*/
        width: 238px;
    }
}