.profile__add-button {
    /*intendetion and sizing*/
    align-self: center;
    width: 150px;
    height: 50px;
    margin: 0 0 18px 0;
    background-size: 22px 16px;
    background-position: center;
    padding: 0;


    /*style*/
    background-color: transparent;
    border: solid;
    color: white;
    border-radius: 2px;
    background-image: url(../../../images/button/addButton.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 780px) {
    .profile__add-button {
        /*style*/
        /*intendetion and sizing*/
        width: 282px;
        margin: 0 auto;
        
    }
}