.profile__add-button {
    /*intendetion and sizing*/
    align-self: center;
    width: 150px;
    height: 50px;
    margin: 0;

    /*style*/
    background-color: transparent;
    border: none;
    background-image: url(../../../images/button/Add_Button.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 780px) {
    .profile__add-button {
        /*style*/
        background-image: url(../../../images/button/Add__Button_mobile.svg);

        /*intendetion and sizing*/
        width: 282px;
    }
}