.pop-up__close-button {
    /*page-proofs*/
    cursor: pointer;

    /*grid-area: clouse;*/
    position: absolute;
    top: -40px;
    right: -40px;
    

    /*style*/
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-image: url(../../../images/button/close__button.svg);

    /*indentantion and sizing*/
    min-width: 32px;
    min-height: 32px;
    margin: 0;
}

@media screen and (max-width: 530px) {
    .pop-up__close-button {
        /*page-proofs*/
        right: 0;
        top: -39px;
        min-width: 20px;
        min-height: 20px;
    }
}