.profile__account__info__button {
    /*indentention and sizing*/
    width: 24px;
    height: 24px;
    align-self: end;
    margin: 0 0 8px 0;
    padding: 0;

    /*page-proofs*/
    grid-area: button;

    /*style*/
    background-color: transparent;
    border: none;
    background-image: url(../../../../../images/button/Edit_Button.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

@media screen and (max-width: 780px) {
    .profile__account__info__button {
        /*indentention and sizing*/
        margin: 0 0 5px 0;
        width: 18px;
        height: 18px;
    }
}