.profile__information {
    /*page-proofs*/
    display: flex;
    flex-direction: row;
    
}

@media screen and (max-width: 780px) {
    .profile__information {
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        margin: auto;
    }
}