.element__information__button {
    /*intendation and sizing*/
    min-width: 22px;
    min-height: 20px;
    margin: 0;    

    /*syle*/
    border-style: none;
    background-color: white;
    background-image: url(../../../../../images/button/like_button.svg);
    background-repeat: no-repeat;
    object-fit: contain;
}
