.elements__information {
    /*page-proofs*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;

    /*indentention and sizing*/
    margin:25px 18px 26px 20px;
    
}