.elements__card__information {
    /*page-proofs*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;

    /*indentention and sizing*/
    margin:25px 21px 31px 15px;
    
}