.profile__avatar {
    /*intendention and sizing*/
    width: 120px;
    height: 120px;
    margin: 0 31px 0 0;
    object-fit: cover;

    /*style*/
    border-radius: 50%;

}

@media screen and (max-width: 780px) {
    .profile__avatar {
        /*intendention and sizing*/
        margin: 0 auto 25px;
    }
}