.info__profession {
    /*style*/
    font-size: 18px;
    line-height: 1.21;
    font-weight: 500;
    color: white;

    /*page-proofs*/
    grid-area: profession;

    /*intendention and sizing*/
    margin: 0;
}

@media screen and (max-width: 780px) {
    .info__profession {
        /*intendention and sizing*/
        margin: 0 auto;

        /*style*/
        font-size: 14px;
    }
}