.profile__account__info {
    /*page-proofs*/
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 18px;
    row-gap: 16px;
    grid-template-areas:
        "name button"
        "profession profession";

    /*intendention and sizing*/
    margin: 0;

}

@media screen and (max-width: 780px) {
    .profile__account__info {
        /*page-proofs*/
        row-gap: 14px;
        column-gap: 10px;

        /*intendention and sizing*/
        margin: 0 auto 36px;
    }
}