.profile__info-profession {
    /*style*/
    font-size: 18px;
    line-height: 1.21;
    font-weight: 500;
    color: white;

    /*page-proofs*/
    grid-area: profession;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    /*intendention and sizing*/
    margin: 0;
    max-width: 550px;
}

@media screen and (max-width: 900px) {
    .profile__info-profession {
        /*intendention and sizing*/
        max-width: 300px;
    }
}

@media screen and (max-width: 780px) {
    .profile__info-profession {
        /*intendention and sizing*/
        margin: 0 auto;
        max-width: 189px;

        /*style*/
        font-size: 14px;
    }
}