.pop-up__input-text {
    /*style*/
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    

    /*intendention and sizing*/
    min-height: 29px;
    margin: 0 auto 30px;
    padding: 0;
    width: 100%;
    
}


@media screen and (max-width: 430px) {
    .pop-up__input-text {
        /*intendention and sizing*/
        
    }
}