.profile__account {
    /*page-proofs*/
    display: flex;
    flex-direction: row;

    /*indentention and sizing*/
    margin: 0;
    
}

@media screen and (max-width: 780px) {
    .profile__account {
        /*page-proofs*/
        flex-direction: column;
        justify-items: center;
        justify-content: center;

        /*indentention and sizing*/
        margin: 0 auto;
    }
}